$ppr:640px/16/1rem;

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}button,html,input,select,textarea{font-family:Aril,"微软雅黑"}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px/$ppr dotted}b,strong{font-weight:700}blockquote{margin:1em 40px/$ppr}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:after,q:before{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}dl,menu,ol,ul{margin:0}dd{margin:0 0 0 40px/$ppr}menu,ol,ul{padding:0}nav ol,nav ul{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px/$ppr solid silver;margin:0 2px/$ppr;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}



/* icon 雪碧图css */
.icon{display: inline-block;background-image: url(../images/sprite.png);background-size: 854px/$ppr 697px/$ppr;}
.icon-bg2{background-position: -810px/$ppr -228px/$ppr; width: 39px/$ppr; height: 47px/$ppr;}
.icon-flow{background-position: -721px/$ppr 0px/$ppr; width: 133px/$ppr; height: 133px/$ppr;}
.icon-man{background-position: -768px/$ppr -228px/$ppr; width: 32px/$ppr; height: 78px/$ppr;}
.icon-mm{background-position: -451px/$ppr -91px/$ppr; width: 133px/$ppr; height: 133px/$ppr;}
.icon-more{background-position: -451px/$ppr 0px/$ppr; width: 260px/$ppr; height: 81px/$ppr;}
.icon-phone{background-position: -451px/$ppr -234px/$ppr; width: 133px/$ppr; height: 133px/$ppr;}
.icon-red{background-position: -721px/$ppr -228px/$ppr; width: 37px/$ppr; height: 90px/$ppr;}
.icon-t1{background-position: 0px/$ppr 0px/$ppr; width: 441px/$ppr; height: 326px/$ppr;}
.icon-t2{background-position: 0px/$ppr -336px/$ppr; width: 417px/$ppr; height: 100px/$ppr;}
.icon-t3{background-position: 0px/$ppr -446px/$ppr; width: 357px/$ppr; height: 56px/$ppr;}
.icon-t4{background-position: 0px/$ppr -512px/$ppr; width: 357px/$ppr; height: 56px/$ppr;}
.icon-t5{background-position: 0px/$ppr -643px/$ppr; width: 360px/$ppr; height: 54px/$ppr;}
.icon-t6{background-position: 0px/$ppr -578px/$ppr; width: 356px/$ppr; height: 55px/$ppr;}
.icon-up{background-position: -721px/$ppr -143px/$ppr; width: 93px/$ppr; height: 75px/$ppr;}

/*
 * name     : style
 * content  : 布局
 * time     : 20170622
 * author   : shan
 */
b{font-weight: bold;}
.red{color: #fb2267;}
.center{text-align: center;}
body{background: #7f6c46;}
.main{width: 100%;max-width: 640px/$ppr;margin: 0 auto;height: 1009px/$ppr;font-size: 24px/$ppr;}
.homebg{background: url(../images/homebg.jpg) no-repeat;background-size: 100%;overflow: hidden;}
.icon-t1{display: block;margin: 118px/$ppr auto 0;}
.tx{padding: 0 120px/$ppr 0 125px/$ppr;font-size: 24px/$ppr;line-height: 46px/$ppr;}
.tx01{font-weight: bold;margin-bottom: 10px/$ppr;}
.bg{background: url(../images/bg.jpg) no-repeat;background-size: 100%;overflow: hidden;}
.icon-t2{display: block;margin: 76px/$ppr auto 20px/$ppr;}
.freeBox{text-align: center;}
.free{display: inline-block;padding: 5px/$ppr 20px/$ppr;font-size: 27px/$ppr;color: #fff;background: #40372a;border-radius: 20px/$ppr;margin: 0 15px/$ppr;}
.free span{font-size: 35px/$ppr;color: #fb2267;}
.wxts{position: relative;margin: 0 auto;padding: 20px/$ppr 10px/$ppr;width: 500px/$ppr;font-size: 22px/$ppr;line-height: 36px/$ppr;background: #f8e2cc;border: 4px/$ppr solid #40372a;}
.wxts01{width: 350px/$ppr;}
.btn-ch{position: absolute;top: 25px/$ppr;right: 25px/$ppr;display: inline-block;text-decoration: none;text-align: center;height: 53px/$ppr;line-height: 53px/$ppr;width: 105px/$ppr;color: #40372a;border: 3px/$ppr solid #40372a;border-radius: 10px/$ppr;background: #ff7466;}
.tableBox{text-align: center;}
.monthBox{padding: 50px/$ppr 0 10px/$ppr;background: url(../images/img2a.png) top center no-repeat;background-size: 100%;}
.mon{display: inline-block;font-size: 25px/$ppr;line-height: 52px/$ppr;width: 78px/$ppr;}
.pp{position: absolute;bottom: 10px/$ppr;left: 0;}
.item{position: relative;display: inline-block;font-size: 20px/$ppr;color: #000;line-height: 1;margin: 0 38px/$ppr;height: 320px/$ppr;line-height: 40px/$ppr;}
.item:first-child{margin-left: 0;}
.progress{width: 39px/$ppr;border: 3px/$ppr solid #40372a;height: 250px/$ppr;background: url(../images/bg2.png) repeat;background-size: 100%;border-radius: 10px/$ppr;}
.icon-t3{margin: 120px/$ppr auto 25px/$ppr;}
.img3{margin: 0 auto;}
.icon-t4{margin: 120px/$ppr auto 0;}
.mans{margin-top: 10px/$ppr;}
.tx4a{margin: 40px/$ppr 0 30px/$ppr 0;color: #412214;}
.tx4a b{font-size: 32px/$ppr;color: #a52222;}
.tx4a span{font-weight: bold;color: #a52222;}
.data05{color: #40372a;line-height: 36px/$ppr;font-size: 24px/$ppr;}
.icon-t5{display: block;margin: 120px/$ppr auto 60px/$ppr;}
.data05 table{margin-left: 60px/$ppr;}
table .icon{margin-right: 20px/$ppr;}
.data05 .h4{font-size: 28px/$ppr;color: #a52222;font-weight: bold;margin-bottom: 10px/$ppr;}
.data05 .h4 span{font-size: 20px/$ppr;}
.tx5a b{font-size: 32px/$ppr;font-weight: bold;color: #009944;}
.data05 td{padding-bottom: 40px/$ppr;}
.my{display: inline-block;min-width: 200px/$ppr;}
.icon-t6{margin: 120px/$ppr auto 20px/$ppr;}
.tx6a{color: #40372a;line-height: 30px/$ppr;}
.img6{margin: 40px/$ppr auto;}
.icon-up{position: fixed;bottom: 5%;left: 50%;margin-left: -46.5px/$ppr;-webkit-animation: move 1s infinite alternate;animation: move 1s infinite alternate;}
@keyframes move{from{bottom:10px/$ppr;}
to{bottom:20px/$ppr;}}
@-webkit-keyframes move
/*Safari and Chrome*/{from{bottom:10px/$ppr;}
to{bottom:20px/$ppr;}}



/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px/$ppr;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px/$ppr solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
